<div class="container-fluid">
	<h1>Car: <small>{{car.name}}</small></h1>

	<div class="row">
		<div class="form-group">
			<label class="col-md-2 control-label">Name</label>

			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="car.name">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label class="col-md-2 control-label">Description</label>

			<div class="col-md-6">
				<input type="text" class="form-control" ng-model="car.description">
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-md-8">
				<a href="#/home" class="btn btn-primary">Back</a>
				<a href="#/home" class="btn btn-primary">Done</a>
			</div>
		</div>
	</div>
</div>
