<div class="container-fluid">
	<h1>Home</h1>

	<div class="row">
		<div class="col-md-6">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12"><h4>Drivers</h4></div>
				</div>
				<div class="row" ng-class="{even: $even, odd: $odd}" ng-repeat="driver in drivers">
					<div class="col-md-10 control-label">{{driver.name}}</div>
					<div class="col-md-1"><a ng-click="editDriver(driver)" class="btn btn-default glyphicon glyphicon-edit"></a></div>
					<div class="col-md-1"><a ng-click="deleteDriver(driver)" class="btn btn-danger glyphicon glyphicon-eject"></a></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12"><h4>Cars</h4></div>
				</div>
				<div class="row" ng-class="{even: $even, odd: $odd}" ng-repeat="car in cars">
					<div class="col-md-5">{{car.name}}</div>
					<div class="col-md-5">{{car.description}}</div>
					<div class="col-md-1"><a ng-click="editCar(car)" class="btn btn-default glyphicon glyphicon-edit"></a></div>
					<div class="col-md-1"><a ng-click="deleteCar(car)" class="btn btn-danger glyphicon glyphicon-eject"></a></div>
				</div>
			</div>
		</div>
	</div>
</div>
