<div class="container-fluid">
	<h1>New Race</h1>

	<div ng-hide="digi.baseReady">
		<h2>Waiting for the base</h2>
	</div>

	<div ng-show="digi.baseReady">
		<div class="row">
			<div class="col-md-4">
				<label>Mode</label>
			</div>
			<div class="col-md-4">
				<span class="form-control">{{digi.race.mode}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label>Lights</label>
			</div>
			<div class="col-md-4">
				<span class="form-control">{{digi.race.lights ? 'ON' : 'OFF'}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label>laps</label>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control" ng-model="digi.race.laps">
			</div>
		</div>

		<div class="container-fluid">
			<h2>Racers</h2>

			<div class="row">
				<div class="col-md-2">
					<h4>Car Number</h4>
				</div>
				<div class="col-md-2">
					<h4>Driver</h4>
				</div>
				<div class="col-md-2">
					<h4>Car</h4>
				</div>
				<div class="col-md-2">
					<h4>Fuel</h4>
				</div>
			</div>

			<div class="row" ng-repeat="racer in digi.race.racers">
				<div class="col-md-2">
					<select class="form-control" ng-model="racer.carNumber">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
					</select>
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="racer.driver" ng-options="driver.name for driver in drivers">
						<option value="">Driver</option>
					</select>
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="racer.car" ng-options="car.name for car in cars">
						<option value="">Car</option>
					</select>
				</div>
				<div class="col-md-2">
					<input type="text" class="form-control" placeholder="Fuel" ng-model="racer.fuel">
				</div>
				<div class="col-md-1">
					<a ng-click="removeRacer(racer)" class="btn btn-danger glyphicon glyphicon-eject"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<button class="btn btn-primary" ng-click="addRacer()"><i class="glyphicon glyphicon-plus"></i></button>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<a href="#/home" class="btn btn-primary">Cancel</a>
				<a class="btn btn-primary" ng-click="next()">Next</a>
			</div>
		</div>
	</div>
</div>
